
Sonic/.settings/org.hibernate.eclipse.console.prefs
Sonic/src/main/resources/application.properties
Sonic/src/main/resources/application.properties
Sonic/src/main/resources/application.properties
*.properties
