<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="master/master :: head">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<header th:replace="master/master :: header"></header>
	<div class="container">
		<br>
		<div align="center"
			style="font-family: 'Roboto Condensed', sans-serif; font-size: 150%">Lista
			de Marcas de Instrumentos</div>
		<br>
		<div>
			<div class="table-responsive">
				<table class="table table-white">
					<thead>
						<tr>
							<th>ID</th>
							<th>Marca de instrumento</th>
							<th>Operaciones</th>
						</tr>
					</thead>
					<tbody id="marca_instrumento-list">
						<tr th:each="mar:${listaMarca_instrumentos}">
							<td th:text="${mar.idMarca_Instrumento}"></td>
							<td th:text="${mar.Marca_Instrumento}"></td>

							<td><a
								th:href="@{/mmarca_instrumentos/delete?id=}+${mar.idMarca_Instrumento}">
									Eliminar </a><br> <a
								th:href="@{'/mmarca_instrumentos/goupdate/'+${mar.idMarca_Instrumento}}">
									Actualizar </a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</body>
</html>