<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="master/sidebar :: head">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<header th:replace="master/sidebar :: header"></header>
	<div class="container">
		<br>
		<div align="center"
			style="font-family: 'Roboto Condensed', sans-serif; font-size: 150%">Lista
			de Dueño</div>
		<br>
		<div>
			<div class="table-responsive">
				<table class="table table-white">
					<thead>
						<tr>
							<th>ID</th>
							<th>Nombre del Dueño</th>
							<th>Operaciones</th>
						</tr>
					</thead>
					<tbody id="duenios-list">
						<tr th:each="du:${listaDuenios}">
							<td th:text="${du.CDuenio}"></td>
							<td th:text="${du.usuario.NNombre}+' '+${du.usuario.NApellido}"></td>

							<td><a th:href="@{/dduenios/delete?id=}+${du.CDuenio}">
									Eliminar </a><br>
							<a th:href="@{'/dduenios/goupdate/'+${du.CDuenio}}">
									Actualizar </a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>