<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/master :: head">
<meta charset="ISO-8859-1">
<title>Lista de Distritos</title>
</head>
<body>
	<header th:replace="master/master :: header"></header>
	<div class="container">

		<div>

			<div class="table-responsive">
				<table id="table-1" class="table table-white">
					<thead>
						<tr>
							<th>ID</th>
							<th>Usuario</th>
							<th>Nombre</th>
							<th>Apellido</th>
							<th>Celular</th>
							<th>Correo</th>
							<th>Distrito</th>
							<th>Direccion</th>
							<th>Operaciones</th>
							
						</tr>
					</thead>
					<tbody id="dueños-list">
						<tr th:each="due:${listaDueños}">
							<td th:text="${li.CUsuario}"></td>
							<td th:text="${li.NUserName}"></td>
							<td th:text="${li.NNombre}"></td>
							<td th:text="${li.NApellido}"></td>
							<td th:text="${li.NumCelular}"></td>
							<td th:text="${li.TCorreo}"></td>
							<td th:text="${li.distrito.NDistrito}"></td>
							<td th:text="${li.TDireccion}"></td>
							<td>
							<a th:href="@{/ddueños/delete?id=}+${due.CDueño}">
							Eliminar
							</a>
							</td>
							<td>
							<a th:href="@{'/ddueños/goupdate/'+${due.CDueños}}">
							Actualizar
							</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>

	</div>
</body>
</html>