
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/master :: head">
<meta charset="ISO-8859-1">
<title>Registro de Dueños</title>
</head>
<body>
	<header th:replace="master/master :: header"></header>
	<div class="container">
		<div>
			<form th:action="@{/ddueños/save}" method="post" th:object="${d}">
				<br>
				<div class="col-sm-12">
					<label class="form-label">Usuario:</label> <input
						placeholder="Ejm: Usuario" type="text" th:field="*{NUserName}"
						class="form-control"></input>
				</div>

				<div class="col-sm-12">
					<label class="form-label">Contraseña:</label> <input
						placeholder="Ejm: 1#a#a#" type="text" th:field="*{NPassword}"
						class="form-control"></input>
				</div>

				<div class="col-sm-12">
					<label class="form-label">Nombre:</label> <input
						placeholder="Ejm: Alex" type="text" th:field="*{NNombre}"
						class="form-control"></input>
				</div>

				<div class="col-sm-12">
					<label class="form-label">Apellido:</label> <input
						placeholder="Ejm: Lujan" type="text" th:field="*{NApellido}"
						class="form-control"></input>
				</div>

				<div class="col-sm-12">
					<label class="form-label">Celular:</label> <input
						placeholder="Ejm: 999888777" type="text" th:field="*{NumCelular}"
						class="form-control"></input>
				</div>

				<div class="col-sm-12">
					<label class="form-label">Correo:</label> <input
						placeholder="Ejm: a@gmail.com" type="text" th:field="*{TCorreo}"
						class="form-control"></input>
				</div>

				<div class="col-sm-12">

					<input type="submit" value="Registrar" id="button-1"
						class="btn btn-dark" />

				</div>

			</form>
		</div>
	</div>
</body>
</html>